<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Londontimes</title>
</head>
<body>
    <div>Here are the londontimes</div>
    <div>
        <input type="checkbox" checked id="car">
        <label for="car">Times for cars</label><br>
        <input type="checkbox" checked id="truck">
        <label for="truck">Times for trucks</label><br>
    </div>
    <h2 th:text="${errMsg}"></h2>
    <h2 th:text="${err}"></h2>
    <table>
        <tr th:each="time : ${londonTimes}">
            <td><span th:text="${time.name}"> Name </span>Name</td>
            <td><span th:text="${time.time}"> Time </span>Time</td>
            <td><span th:text="${time.uuid}"> UUID </span>ID</td>
            <td><span th:text="${time.available}"> Available </span>Available</td>
        </tr>
    </table>
</body>
</html>